{% extends "matches/base.html" %}

{% block content %}
<nav>
    <ul>
        <li class="non-base-navs"><a href="/index/matches">Match List</a></li>
    </ul>
</nav>

<form action="/index/matches" method="post">
<h5>
Please ensure Teams, League & Stadium are present prior to creating new Match
</h5>

<section class="forms">
  <div>
    <label for="season">Season</label>
    <input type="text" id="season" name="season" 
    placeholder="{{season}}" required autofocus>
  </div>

  <div>
    <label for="week">Week</label>
    <input type="text" id="week" name="week" 
    placeholder="{{week}}" required autofocus>
  </div>

  <div>
    <label for="date">Date</label>
    <input type="date" id="date" name="date" 
    value="2021-11-11">
  </div>

  <div>
    <label for="time">Time</label>
    <input type="time" id="time" name="time" 
    value="15:00">
  </div>

  <div>
    <label for="league">League</label>
    <select id="league" name = "league_id">
      {% for league in all_leagues %} 
      <option value="{{ league.id }}">{{ league.name }}</option> 
      {% endfor %} 
    </select>
  </div>

  <div>
   <label for="stadium">Stadium</label>
    <select id="stadium" name = "stadium_id">
      {% for stadium in all_stadiums %} 
      <option value="{{ stadium.id }}">{{ stadium.name }}</option> 
      {% endfor %} 
    </select>
  </div>

  <div>
    <label for="home">Home</label>
     <select id="home" name = "home_id">
       {% for team in all_teams %} 
       <option value="{{ team.id }}">{{ team.name }}</option> 
       {% endfor %} 
     </select>
   </div>

   <div>
    <label for="away">Away</label>
     <select id="away" name = "away_id">
       {% for team in all_teams %} 
       <option value="{{ team.id }}">{{ team.name }}</option> 
       {% endfor %} 
     </select>
   </div>

  <button type="submit">Add Match</button>
</form>
</section>
{% endblock %}