{% extends "stadium/base.html" %}

{% block content %}
<nav>
    <ul>
        <li class="non-base-navs"><a href="/index/stadium">Stadium List</a></li>
    </ul>
</nav>

<form action="/index/stadium" method="post">

  <div>
    <label for="name">Stadium</label>
    <input type="text" id="name" name="name" 
    placeholder="Name" required autofocus>
  </div>

  <div>
    <label for="city">City</label>
    <input type="text" id="city" name="city" 
    placeholder="Stadium City" required autofocus>
  </div>

  <div>
    <label for="capacity">Capacity</label>
    <input type="number" id="capacity" name="capacity" 
    placeholder="stadium capacity" required autofocus>
  </div>
  <button type="submit">Add Stadium</button>
</form>

{% endblock %}