{% extends "leagues/base.html" %}

{% block content %}
<nav>
    <ul>
        <li class="non-base-navs"><a href="/index/stadium">Stadium List</a></li>
        <li class="non-base-navs"><a href="/index/stadium/create">Create Stadium</a></li>
    </ul>
</nav>
    <hr>
    <section class="forms">
    <p id="stadium-list">
        Stadium:   {{stadium.name}}<br>
        City : {{stadium.city}} <br>
        Country : {{stadium.capacity}} <br>
    </p>
    <p><button class="edit-button"><a href="/index/stadium/{{stadium.id}}/edit">Edit</a></button></p>
</section>

 






{% endblock %}
