#website-banner{
    padding: 30px;
    background-color: rgb(125, 13, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 36px;
    color: white;
    font-size: 30px
  }

  #leagues-banner{
    padding: 10px;
    background-color: rgb(125, 13, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 36px;
    color: white;
    font-size: 30px
  }

  #stadium-banner{
    padding: 10px;
    background-color: rgb(125, 13, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 36px;
    color: white;
    font-size: 30px
  }

  #teams-banner{
    padding: 10px;
    background-color: rgb(125, 13, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 36px;
    color: white;
    font-size: 30px
  }

  #matches-banner{
    padding: 10px;
    background-color: rgb(125, 13, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 36px;
    color: white;
    font-size: 30px
  }

  .non-base-navs{
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    color:black ;
  }


  .menu {
    list-style-type: none;
  }
  .p li a{
    list-style-type: none;
  }


  .team-list{
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-weight: 500;
    color:black ;
  }


  .match-list{
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-weight: 500;
    color:black ;
    width: 80%;
    text-align: left;
  }

  .table-header{
    background-color: rgb(125, 13, 216);
    color: white;
  }


  .menu li a{
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    color:black ;
  }

  