#website-banner{
    padding: 10px;
    background-color: rgb(125, 13, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 36px;
    color: white;
  }

  #leagues-banner{
    padding: 10px;
    background-color: rgb(125, 13, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 36px;
    color: white;
  }

  .non-base-navs{
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    color:black ;
  }


  .menu {
    list-style-type: none;
  }
  .p li a{
    list-style-type: none;
  }

  .league-list{

    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    color:black ;
  }

  .team-list{
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    color:black ;
  }

  #country-list{
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 500;
    color:black ;
  }




  .menu li a{
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    color:black ;
  }