<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>GAZI-BALL</title>
</head>
<body>
  <header id="website-banner">
    GAZI-BALL
  </header>
  <div id = "index-page-menu">
    <nav>
      <ul class="menu">
        <li><a href="/index/leagues">Leagues</a></li>
        <li><a href="/index/teams">Teams</a></li>
        <li><a href="/index/stadium">Stadia</a></li>
        <li><a href="/index/matches">Matches</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>
